/* ################ */
/*      General     */
/* ################ */


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: var(--neutral);
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: var(--normal);
  font-weight: 400;
}


/* ################ */
/*    Components    */
/* ################ */


.btn-custom {
  background: var(--accent);
  border-radius: 0.75rem;
  padding: 0.5rem 1.5rem;
}


/* ################ */
/*      Effects     */
/* ################ */


.btn-scale {
  transition: transform 130ms ease-in-out;
}

.btn-scale:active {
  transform: scale(0.9) !important;
}

.btn-scale:hover {
  transform: scale(1.1);
}

/* ################ */

.underline-lr {
  position: relative;
}

.underline-lr::after {
  content: "";
  position: absolute;
  background-color: var(--accent);
  transition: width ease 300ms;
  height: 2px;
  width: 0;
  bottom: -0.1rem;
  right: 0;
}

.underline-lr:hover::after {
  width: 100%;
  left: 0;
}

/* ################ */




/* ################ */
/*    Animations    */
/* ################ */