@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit.ttf");
}

:root {

/* ############### */
/*    Variables    */
/* ############### */

--grid-width: 45;
--grid-height: 20;

/* ############### */
/*      Fonts      */
/* ############### */

--font-primary: "Outfit", sans-serif;

/* ############### */
/*    Font Sizes   */
/* ############### */

  --midget: 0.625rem;
  --dwarf: 0.75rem;
  --shrimp: 0.875rem;
  --normal: 1rem;
  --h3: 1.25rem;
  --h2: 1.5rem;
  --h1: 2rem;
  --chungus: 2.5rem;
  --big-chungus: 3.5rem;
  --giant-chungus: 4.5rem;
  --humongus-chungus: 5.5rem;

/* ############### */
/*      Theme      */
/* ############### */

  --nav-shadow-1: rgba(20, 184, 166, 0.7);
  --nav-shadow-2: rgba(20, 184, 166, 0.15);

  --nav-link-hover: rgba(20, 184, 166, 0.3);

  --neutral: #fcfcfc; 
  --accent: #5bcdc1;

  --text-primary: #1b1c1e;
  --text-secondary: #e5e5e5;

  --dark-neutral: #0a1628;
}